@model IEnumerable<BCX_ISAAC_BA_SOL.Models.Job>

@{
    ViewBag.Title = "DisplayJobs";
}
<h4>
    Jobs Posted
    <span class="pull-right">
        <form class="navbar-form navbar-right" role="search" action="/Jobs/" method="Get">
            <div class="form-group">
                <input name="SearchString" id="SearchString" class="form-control" placeholder="Search" type="text" style="width:250px;">
            </div>
            <button type="submit" class="form-control">Search</button>
        </form>
    </span>
</h4>

<br />

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-6 col-md-3">

            <a href="/JobApplications/Create/@item.Id" style="text-decoration:none;color:black;">
                <div class="thumbnail" style="background-color:#e5e5e5;border:5px solid;border-color:#140635;padding:5px 5px 10px 5px;border-radius:15px 15px;margin:4px 7px 2px 4px;height:350px;">
                    <h2>@Html.DisplayFor(modelItem => item.Position)</h2>
                    <p> @Html.DisplayFor(modelItem => item.Designation) |  @Html.DisplayFor(modelItem => item.EngagementType)</p>
                    <h4><span class="glyphicon glyphicon-certificate logo-small" style="color:red"></span>@Html.DisplayFor(modelItem => item.CompanyName)</h4>
                    <p><span class="glyphicon glyphicon-map-marker logo-small" style="color:red"></span>@Html.DisplayFor(modelItem => item.Location)</p>
                    <p>@ShortenText(item.Description)...</p>


                    <div class="pull-right">@Html.DisplayFor(modelItem => item.DatePosted)</div>
                </div>
            </a>
        </div>
    }
</div>

@functions{
    public string ShortenText(string txt)
    {

        return txt.Substring(0, 70);
    }

}