@model IEnumerable<BCX_ISAAC_BA_SOL.Models.Question>

@{
    ViewBag.Title = "Answer Questions";
}


<h4>Name: <strong>@ViewBag.ApplicantName</strong> </h4>
<h5>Position: <strong>@ViewBag.Position</strong></h5>
<br />
<h4>Questions   |   Time: @ViewBag.QuestionTime (Seconds)</h4>
<br />
<form method="post" action="/Answers/">


    @foreach (var item in Model)
    {
    <p> @Html.DisplayFor(modelItem => item.Rank).  @Html.DisplayFor(modelItem => item.QText)
    <br />
    <input type="hidden" name="QuestionId" value="@item.Id" />
    <input type="text" name="Answer" class="form-control" />
    </p>
    }
    <input type="submit"  class="btn btn-primary btn-sm" />
</form>
